[program:celerycam]
command =/home/{{ default_user }}/.virtualenvs/{{ application_name }}/bin/python /home/{{ default_user }}/{{ application_name }}/manage.py celerycam
user = {{ application_name }}
stdout_logfile = /var/log/supervisor/celerycam.log
stderr_logfile = /var/log/supervisor/celerycam.log
