from {{ application_name }}.universal_settings import*

import os

DEBUG = True
TEMPLATE_DEBUG = DEBUG

SITE_ID = 1

ADMINS = (
     ('{{ admin_name }}', '{{ smtp_user }}'),
)

MANAGERS = ADMINS

ROOT_URLCONF = 'djangoproject.settings.{{ settings_dir }}.urls'

ALLOWED_HOSTS = ['*']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ db_name }}',
        'USER': 'root',
        'PASSWORD': '{{ db_password }}',
        'HOST': 'localhost',
        'PORT': '',
    }
}

MEDIA_ROOT = '/var/www/assets/media/'
MEDIA_URL = '/media/'
STATIC_ROOT = '/var/www/assets/static/'
STATIC_URL = '/static/'

STATICFILES_DIRS = (
        '/home/{{ default_user }}/{{ application_name }}/static',
)

STATICFILES_FINDERS = (
    'django.contrib.staticfiles.finders.FileSystemFinder',
    'django.contrib.staticfiles.finders.AppDirectoriesFinder',
#    'django.contrib.staticfiles.finders.DefaultStorageFinder',
)

SECRET_KEY = '{{ django_secret_key }}'

INSTALLED_APPS += (
    'django_extensions',
    'south',
    'djcelery',
)

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.PyLibMCCache',
        'LOCATION': '127.0.0.1:11211',
    }
}

TEMPLATE_DIRS = (
        '/home/{{ default_user }}/{{ application_name }}/templates',
)

# Celery
BROKER_URL = "amqp://{{ application_name }}:{{ application_name }}@localhost:5672/{{ application_name }}"
CELERY_RESULT_BACKEND = "database"
CELERY_RESULT_DBURI = "mysql://root:{{ db_password }}@localhost/{{ application_name }}"

EMAIL_BACKEND = "django.core.mail.backends.smtp.EmailBackend"

EMAIL_HOST = '{{ smtp_host }}'
EMAIL_HOST_USER = '{{ smtp_user }}'
EMAIL_HOST_PASSWORD = '{{ smtp_password }}'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
DEFAULT_FROM_EMAIL = '{{ smtp_user }}'
SERVER_EMAIL = '{{ smtp_user }}'

LOGGING = {
    'version': 1,
    'disable_existing_loggers': True,
}

import djcelery
djcelery.setup_loader()
