[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = git@git.broadwaybeta.com:broadway/broadway.git
[branch "master"]
	remote = origin
	merge = refs/heads/master
[remote "rwright"]
    url = git@git.broadwaybeta.com:/rwright/broadway.git
    fetch = +refs/heads/*:refs/remotes/rwright/*
[remote "emarty"]
    url = git@git.broadwaybeta.com:/emarty/broadway.git
    fetch = +refs/heads/*:refs/remotes/emarty/*
[remote "srubin"]
    url = git@git.broadwaybeta.com:/srubin/broadway.git
    fetch = +refs/heads/*:refs/remotes/srubin/*
[remote "robin"]
    url = git@git.broadwaybeta.com:/robin/broadway.git
    fetch = +refs/heads/*:refs/remotes/robin/*
[remote "kfricovsky"]
    url = git@git.broadwaybeta.com:/kfricovsky/broadway.git
    fetch = +refs/heads/*:refs/remotes/kfricovsky/*
[remote "shelgeson"]
    url = git@git.broadwaybeta.com:/shelgeson/broadway.git
    fetch = +refs/heads/*:refs/remotes/shelgeson/*
[remote "macmini"]
    url = git@git.broadwaybeta.com:/macmini/broadway.git
    fetch = +refs/heads/*:refs/remotes/macmini/*
[remote "mbowles"]
    url = git@git.broadwaybeta.com:/mbowles/broadway.git
    fetch = +refs/heads/*:refs/remotes/mbowles/*
[remote "lsummerbell"]
    url = git@git.broadwaybeta.com:/lsummerbell/broadway.git
    fetch = +refs/heads/*:refs/remotes/lsummerbell/*
[remote "tkroger"]
    url = git@git.broadwaybeta.com:/tkroger/broadway.git
    fetch = +refs/heads/*:refs/remotes/tkroger/*
[remote "jwilkin"]
    url = git@git.broadwaybeta.com:/jwilkin/broadway.git
    fetch = +refs/heads/*:refs/remotes/jwilkin/*
